*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-bg: #171717;
	--color-a: #e54e3e;
	--color-b: #3997d7;
}

body {
	display: grid;
	grid-template-columns: 22rem 1fr;
	gap: 1rem;
	margin: 0;
	font-family: monospace;
	background-color: var(--color-bg);
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

button {
	font-family: monospace;
	font-size: inherit;
	color: white;
}

.presets {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	padding-top: 2rem;
}

.presets > button {
	width: 100%;
	padding: .3rem 1rem;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	font-size: 1.2rem;
}

.presets--list {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

.presets--list:empty::before {
	content: "No presets available";
	color: white;
	text-align: center;
}

.presets--preset {
	display: grid;
	grid-template-columns: 1fr min-content min-content min-content;
	gap: .3rem;
	border-bottom: 1px solid white;
}

.presets--preset button {
	border: none;
	background-color: transparent;
}

.presets--preset[data-action="REPLACE"] {
	font-weight: bold;
}

.presets--preset button:hover {
	background-color: #555;
}

.controls {
	display: flex;
	gap: 1rem;
	padding-bottom: 1rem;
}

.controls--item {
	width: min-content;
	padding: .3rem 1rem;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	font-size: 2rem;
}

.state-display {
	height: 100%;
	aspect-ratio: 1;
	border: 1px solid white;
	border-radius: 5px;
}

.state-display[data-state="IN-PROGRESS"] {
	background-color: orange;
}

.state-display[data-state="COMPLETE"] {
	background-color: green;
}

.state-display[data-state="INVALID"] {
	background-color: red;
}

.grid {
	--size: 4;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);
	gap: .2rem;
	width: 80vh;
	aspect-ratio: 1;
}

.cell {
	position: relative;
	border-radius: 45%;
	overflow: hidden;
	container-type: inline-size;
}

.count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 70cqw;
	font-family: monospace;
	isolation: isolate;
	pointer-events: none;
}

.side {
	content: "";
	position: absolute;
	left: 0;
	top: -50%;
	width: 100%;
	height: 200%;
	background-color: var(--color-a);
	rotate: 10deg;
	translate: -49.5%;
	opacity: 0;
}

.side-B {
	background-color: var(--color-b);
	translate: 51.5%;
}

.cell[data-state=UNSET] .side {
	opacity: 0.3;
}

.cell[data-state=UNSET] .side:hover {
	opacity: .6;
}

.cell[data-state=A] {
	background-color: var(--color-a);
}

.cell[data-state=B] {
	background-color: var(--color-b);
}