:root {
	--color-a: #e54e3e;
	--color-b: #3997d7;
}

body {
	margin: 0;
}

main {
	height: 100vh;
	background-color: black;
	display: flex;
}

.grid {
	--size: 4;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);
	gap: .2rem;
	width: 80vh;
	aspect-ratio: 1;
}

.cell {
	position: relative;
	border-radius: 45%;
	overflow: hidden;
}

.count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 6rem;
	font-family: monospace;
	isolation: isolate;
	pointer-events: none;
}

.side {
	content: "";
	position: absolute;
	left: 0;
	top: -50%;
	width: 100%;
	height: 200%;
	background-color: var(--color-a);
	rotate: 10deg;
	translate: -49.5%;
	opacity: 0;
}

.side-B {
	background-color: var(--color-b);
	translate: 51.5%;
}

.cell[data-state=UNSET] .side {
	opacity: 0.3;
}

.cell[data-state=UNSET] .side:hover {
	opacity: .6;
}

.cell[data-state=A] {
	background-color: var(--color-a);
}

.cell[data-state=B] {
	background-color: var(--color-b);
}